/*  your css code here. If applicable */
 body {
      background-color: rgb(204, 204, 204);
      font-family: Arial, sans-serif;
      text-align: center;
    }

    h1 {
      text-align: center;
    }

    h2 {
      text-align: center;
    }

    /* Playlist Box */
    .playlist {
      background-color: white;
      width: 400px;
      margin: 0 auto 20px;
      border: 2px solid black;
      border-radius: 8px;
      padding: 20px;
      text-align: left;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    li {
      margin: 8px 0;
    }

    a {
      text-decoration-line: none;
      color: black;
    }

    /* Player Sections */
    .player_one,
    .player_two {
      background-color: rgb(255, 255, 255);
      padding: 20px;
      border-radius: 10px;
      width: 60%;
      margin: 20px auto;
      
    }

    video, audio {
      width: 100%;
      border-radius: 10px;
    }
